<div class="flex justify-center items-center">
  <%= image_tag 'result.png', class: "h-96 w-96" %>
</div>

<p class="text-center font-sans text-4xl md:text-7xl lg:text-7xl xl:text-7xl font-bold text-lime-500">
  あそびばさがそ
</p>

<p class="text-xl md:text-3xl lg:text-3xl xl:text-3xl text-center mt-24">
  このようなお悩みはありませんか？
</p>

<ul class="text-lg md:text-2xl lg:text-2xl xl:text-2xl text-center list-none space-y-2 mt-8">
  <li>・明日休みだが子供をどこに遊びに連れて行こう？</li>
  <li>・いつも同じ場所で遊んでいて飽きてきている</li>
</ul>

<p class="text-xl md:text-3xl lg:text-3xl xl:text-3xl text-center mt-12">
  生成型AIがあなたのお悩みに寄り添います！
</p>

<%= render 'shared/search', button_text: 'ここから始める' %>

<div class="w-2/3 border-t-4 border-sky-800 mx-auto mt-20"></div>

<p class="text-xl md:text-3xl lg:text-3xl xl:text-3xl text-center mt-16">＜使い方＞</p>

<div class="shadow-xl rounded-lg bg-white items-center border border-gray-300 my-12 mx-12 md:mx-24 lg:mx-auto max-w-3xl px-4 sm:px-6">
  <p class="text-md sm:text-lg md:text-xl lg:text-2xl text-center my-3 sm:my-4 md:my-6">
    ①交通手段等を選択し検索します
  </p>
  <div class="flex justify-center items-center">
    <%= image_tag 'search.png', class: "h-auto w-auto max-w-full max-h-60 sm:max-h-80 md:max-h-100 lg:max-h-120 mb-4 sm:mb-6 md:mb-8" %>
  </div>
</div>

<div class="shadow-xl rounded-lg bg-white items-center border border-gray-300 my-12 mx-12 md:mx-24 lg:mx-auto max-w-3xl px-4 sm:px-6">
  <p class="text-md sm:text-lg md:text-xl lg:text-2xl text-center my-3 sm:my-4 md:my-6">
    ②検索結果から行きたい場所を選択し「ここに行く」を押します
  </p>
  <div class="flex justify-center items-center pt-4">
    <%= image_tag 'answers.png', class: "h-auto w-auto max-w-full max-h-60 sm:max-h-80 md:max-h-100 lg:max-h-120 mb-4 sm:mb-6 md:mb-8" %>
  </div>
</div>

<div class="shadow-xl rounded-lg bg-white items-center border border-gray-300 my-12 mx-12 md:mx-24 lg:mx-auto max-w-3xl px-4 sm:px-6">
  <p class="text-md sm:text-lg md:text-xl lg:text-2xl text-center my-3 sm:my-4 md:my-6">
    ③自動でルート案内してくれますので行くだけです
  </p>
  <div class="flex justify-center items-center pt-4">
    <%= image_tag 'route.png', class: "h-auto w-auto max-w-full max-h-60 sm:max-h-80 md:max-h-100 lg:max-h-120 mb-4 sm:mb-6 md:mb-8" %>
  </div>
</div>

<%= render 'shared/search', button_text: 'ここから始める' %>

<div class="w-2/3 border-t-4 border-sky-800 mx-auto mt-20"></div>

<p class="text-xl md:text-3xl lg:text-3xl xl:text-3xl text-center mt-16">＜ログインすると＞</p>

<div class="shadow-xl rounded-lg bg-white items-center border border-gray-300 my-12 mx-12 md:mx-24 lg:mx-auto max-w-3xl px-4 sm:px-6">
  <p class="text-md sm:text-lg md:text-xl lg:text-2xl text-center my-3 sm:my-4 md:my-6">
    検索結果にお気に入りができます
  </p>
  <div class="flex justify-center items-center pt-4">
    <%= image_tag 'bookmark.png', class: "h-auto w-auto max-w-full max-h-60 sm:max-h-80 md:max-h-100 lg:max-h-120 mb-4 sm:mb-6 md:mb-8" %>
  </div>
</div>

<div class="shadow-xl rounded-lg bg-white items-center border border-gray-300 my-12 mx-12 md:mx-24 lg:mx-auto max-w-3xl px-4 sm:px-6">
  <p class="text-md sm:text-lg md:text-xl lg:text-2xl text-center my-3 sm:my-4 md:my-6">
    過去の検索結果一覧、お気に入りの場所一覧、行った場所の履歴を見ることができます
  </p>
  <div class="flex justify-center items-center pt-4">
    <%= image_tag 'bookmark_place.png', class: "h-auto w-auto max-w-full max-h-60 sm:max-h-80 md:max-h-100 lg:max-h-120 mb-4 sm:mb-6 md:mb-8" %>
  </div>
</div>

<div class="shadow-xl rounded-lg bg-white items-center border border-gray-300 my-12 mx-12 md:mx-24 lg:mx-auto max-w-3xl px-4 sm:px-6">
  <p class="text-md sm:text-lg md:text-xl lg:text-2xl text-center my-3 sm:my-4 md:my-6">
    レビュー一覧を見れ、お気に入りができます
  </p>
  <div class="flex justify-center items-center pt-4">
    <%= image_tag 'review.png', class: "h-auto w-auto max-w-full max-h-60 sm:max-h-80 md:max-h-100 lg:max-h-120 mb-4 sm:mb-6 md:mb-8" %>
  </div>
</div>

<div class="shadow-xl rounded-lg bg-white items-center border border-gray-300 my-12 mx-12 md:mx-24 lg:mx-auto max-w-3xl px-4 sm:px-6">
  <p class="text-md sm:text-lg md:text-xl lg:text-2xl text-center my-3 sm:my-4 md:my-6">
    行った場所のレビューが書け、コメントやいいねを貰えます
  </p>
  <div class="flex justify-center items-center pt-4">
    <%= image_tag 'comment.png', class: "h-auto w-auto max-w-full max-h-60 sm:max-h-80 md:max-h-100 lg:max-h-120 mb-4 sm:mb-6 md:mb-8" %>
  </div>
</div>

<div class="mb-16">
  <%= render 'shared/search', button_text: 'ここから始める' %>
</div>

