<br>
<p class="text-center text-xl md:text-3xl lg:text-3xl xl:text-3xl font-bold text-lime-500 mb-6"><%= t('devise.confirmations.new.sign_up') %></p>

<div class="bg-white p-4 rounded shadow-lg mx-auto relative max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl h-auto overflow-auto px-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="text-center p-4 text-base">
      <div class="mb-4">
        <%= f.label :name,t('activerecord.attributes.user.name'), class: "block text-lg font-medium text-sky-800" %><br>
        <%= f.text_field :name, autofocus: true, class: "w-full max-w-xs border-2 border-blue-300 h-10" %>
      </div>

      <div class="mb-4">
        <%= f.label :email, class: "block text-lg font-medium text-sky-800" %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full max-w-xs border-2 border-blue-300 h-10" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-lg font-medium text-sky-800" %><br>
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full max-w-xs border-2 border-blue-300 h-10" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: "block text-lg font-medium text-sky-800" %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full max-w-xs border-2 border-blue-300 h-10" %>
      </div>

      <div class="text-center mt-4 mb-4">
        <%= f.submit t('devise.confirmations.new.sign_up'), class: "px-24 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring mt-6" %>
      </div>

      <div class="mt-8 text-center">
        <%= link_to 'ログインページはこちら', new_user_session_path, class: "text-sky-800 hover:bg-blue-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-xl text-lg p-2 hover:p-4 " %>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>
