<div id="comment-<%= comment.id %>">
    <p class="text-center text-base font-bold text-lime-500 mb-2">コメント</p>
    <div class="comment mb-4 p-2 border border-blue-500 border-2 rounded">
        <div class="flex items-start">
        <% if comment.user.avatar_url.present? %>
            <%= image_tag comment.user.avatar_url, alt: comment.user.name, class: 'w-8 h-8 rounded-full mr-2' %>
        <% else %>
            <%= image_tag 'avatar.png', alt: comment.user.name, class: 'w-8 h-8 rounded-full mr-2' %>
        <% end %>
        <div class="flex flex-col">
            <strong class="text-sky-800 text-left m-0" style="line-height: 2rem;"><%= comment.user.name %></strong>
            <p class="text-sky-800 text-left mt-1 mb-0"><%= comment.body %></p>
        </div>
        </div>
        <% if comment.user == current_user %>
        <div class="flex justify-end mt-2">
            <%= link_to '削除', place_review_comment_path(comment.review.place, comment.review, comment), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "text-red-500" %>
        </div>
        <% end %>
    </div>
</div>
