<div class="flex justify-center mt-16">
    <button class="flex items-center justify-center px-4 md:px-12 py-2 md:py-4 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring" onclick="openModal();">
        <%= button_text %>
    </button>
</div>

<div id="modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden flex justify-center items-center" style="z-index: 1000;">
    <div class="bg-white p-6 rounded shadow-lg mx-auto relative sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl max-h-[90vh] overflow-auto">
        <button onclick="closeModal()" class="absolute top-0 right-0 mt-2 mr-2 text-3xl font-semibold leading-none">&times;</button>
        <%= form_with url: search_path, method: :post, id: 'location_form' do |form| %>
            <div class="text-center p-10 text-base">
                <div class="mb-4">
                    <%= form.label :selected_transport, '交通手段', class: "block text-sm font-medium text-sky-800" %>
                    <%= form.select :selected_transport, [['車', '車'], ['公共交通機関', '公共交通機関']], {}, {class: "select w-full max-w-xs border-2 border-blue-300"} %>
                </div>

                <div class="mb-4">
                    <%= form.label :selected_time, '所要時間', class: "block text-sm font-medium text-sky-800" %>
                    <%= form.select :selected_time, [['30分', '45分以内'], ['1時間', '75分以下45分以上'], ['1時間30分', '105分以下75分以上'], ['2時間', '135分以下105分以上']], {}, {class: "select w-full max-w-xs border-2 border-blue-300"} %>
                </div>

                <div class="mb-4">
                    <%= form.label :selected_age, '子供の年齢', class: "block text-sm font-medium text-sky-800" %>
                    <%= form.select :selected_age, [['3歳以下', '3歳以下'], ['6歳以下', '6歳以下'], ['12歳以下', '12歳以下']], {}, {class: "select w-full max-w-xs border-2 border-blue-300"} %>
                </div>

                <div class="mb-4">
                    <%= form.label :selected_activity, '遊戯施設', class: "block text-sm font-medium text-sky-800" %>
                    <%= form.select :selected_activity, [['公園', '公園'], ['室内遊び場', '室内遊び場'], ['レジャー施設', 'レジャー施設']], {}, {class: "select w-full max-w-xs border-2 border-blue-300"} %>
                </div>

                <div class="text-center"><br>
                    <%= form.hidden_field :address, id: 'hidden_address' %>
                    <%= form.submit '検索', class: "px-24 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring" %>
                </div>

                <p class="text-center text-lg text-rose-800 mt-8">※ 1日の検索を3回までに制限しております</p>
                <p class="text-center text-sky-800 mt-4">※ 位置情報を使用しますのでGPSをONで使用ください</p>
                <p class="text-center text-sky-800 mt-4">※ 交通手段で公共交通機関を選択の場合</p>
                <p class="text-center text-sky-800 mt-2">検索された場所から徒歩込みでルート時間を表示するため</p>
                <p class="text-center text-sky-800 mt-2">所要時間を長めに設定お願いします</p>
            </div>
        <% end %>
    </div>
</div>

<dialog id="my_modal_2" class="modal">
    <div class="modal-box flex flex-col items-center justify-center">
        <p class="font-bold text-2xl text-center text-sky-800">検索中です</p>
        <p class="text-center text-xl text-sky-800 py-4">しばらくお待ちください。</p>
        <p class="text-center text-sky-800">※ 当サイトの生成AIは使用する度に学習し、改善されます。</p>
        <p class="text-center text-sky-800 pb-4">初回の検索では正しい結果が受け取れない可能性があります</p>
        <span class="loading loading-spinner w-12 h-12 text-info"></span>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button type="button" onclick="document.getElementById('my_modal_2').close()">閉じる</button>
    </form>
</dialog>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('location_form');
        var modal = document.getElementById('my_modal_2');

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            modal.showModal();
        });
    });

    function openModal() {
        document.getElementById('modal').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('modal').classList.add('hidden');
    }
</script>
