<br>
<p class="text-center text-xl md:text-3xl lg:text-3xl xl:text-3xl font-bold text-lime-500 mb-6"><%= t('devise.confirmations.new.sign_in') %></p>

<div class="bg-white p-4 rounded shadow-lg mx-auto relative max-w-sm sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl h-auto overflow-auto px-4">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="text-center p-4 text-base">
      <div class="mb-4">
        <%= f.label :email, t('activerecord.attributes.user.email'), class: "block text-lg font-medium text-sky-800" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full max-w-xs border-2 border-blue-300 h-10" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, t('activerecord.attributes.user.password'), class: "block text-lg font-medium text-sky-800" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full max-w-xs border-2 border-blue-300 h-10" %>
      </div>

      <div class="text-center mt-4 mb-4">
        <%= f.submit t('devise.confirmations.new.sign_in'), class: "px-24 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring mt-6" %>
      </div>

      <div class="actions flex flex-col items-center mb-8 mt-6">
        <%= button_to "Googleアカウントでログインする", omniauth_authorize_path(resource_name, :google_oauth2), method: :post, data: { turbo: false }, class: "btn btn-secondary mb-8" %>
          <div>
            <%= button_to omniauth_authorize_path(resource_name, :google_oauth2), method: :post, data: { turbo: false }, class: "w-full max-w-xs flex items-center justify-center h-10 bg-white border border-gray-500 rounded shadow hover:bg-gray-100 mb-6" do %>
              <div class="mr-2">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                  <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                  <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                  <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                  <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                  <path fill="none" d="M0 0h48v48H0z"></path>
                </svg>
              </div>
              <span class="text-gray-900 text-lg font-medium">Googleでログイン</span>
            <% end %>
            <%= button_to omniauth_authorize_path(resource_name, :line), method: :post, data: { turbo: false }, class: "w-full max-w-xs flex items-center h-10 bg-[#06C755] text-white font-medium rounded shadow" do %>
              <img src="<%= asset_path('btn_base.png') %>" alt="LINE Icon" class="w-8 h-8 ml-4 mr-2">
              <span class="flex-1 text-xl text-center font-bold mr-10">LINEでログイン</span>
            <% end %>
          </div>
      </div>

      <div class="mt-5 text-center">
        <%= link_to 'アカウント登録ページはこちら', new_user_registration_path, class: "text-sky-800 hover:bg-blue-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-xl text-lg p-2 hover:p-4 " %>
      </div>

      <div class="mt-5 text-center">
        <%= link_to 'パスワードをお忘れの方はこちら', new_user_password_path, class: "text-sky-800 hover:bg-blue-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-xl text-lg p-2 hover:p-4 " %>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>
