<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <% if @places_details.any? %>
    <% unique_places = @places_details.uniq { |place| place['name'] } %>
    <p class="text-center text-3xl font-bold my-4">検索結果</p>
    <div class="grid grid-cols-2 gap-4">
      <% unique_places.each do |place_detail| %>
        <div class="shadow-lg rounded-lg p-4 h-full border-2 border-sky-500 h-500px">
          <div class="flex flex-col items-center justify-center w-full">
            <p class="text-center text-2xl my-1"><%= place_detail['name'] %></p>
            <p class="text-center my-1">住所: <%= place_detail['formatted_address'] %></p>

            <% if place_detail['opening_hours'] && place_detail['opening_hours']['weekday_text'] %>
              <div class="flex flex-col items-center my-1">
                <p class="text-center">営業時間</p>
                <p class="text-center"><%= place_detail['opening_hours']['weekday_text'][Time.zone.today.wday.zero? ? 6 : Time.zone.today.wday - 1] %></p>
                <p class="text-center"><%= place_detail['opening_hours']['weekday_text'][5] %></p>
                <p class="text-center"><%= place_detail['opening_hours']['weekday_text'][6] %></p>
              </div>
            <% else %>
              <p class="text-center">営業時間の情報はありません。</p>
            <% end %>

            <p class="text-center my-1">所要時間: 約
              <% total_minutes = place_detail['travel_time_text'].to_i %>
              <% hours = total_minutes / 60 %>
              <% minutes = total_minutes % 60 %>
              <% if hours > 0 %>
                <%= hours %>時間
              <% end %>
              <%= minutes %>分
            </p>

            <p class="text-center my-1">
              <% if place_detail['website'].present? %>
                ホームページ: <%= link_to 'こちら', place_detail['website'], class: "text-blue-500 underline" %>
              <% else %>
                ホームページはありません
              <% end %>
            </p>

            <% if place_detail['photo_url'] %>
              <img src="<%= place_detail['photo_url'] %>" alt="<%= place_detail['name'] %>の写真" class="mx-auto w-80 h-80 my-1">
            <% end %>
            <%= link_to 'ここに行く', "https://www.google.com/maps/dir/?api=1&origin=current+location&destination=#{ERB::Util.url_encode(place_detail['name'])}&travelmode=#{@travel_mode}", target: "_blank", class: "shadow-lg bg-sky-500 shadow-sky-500/50 text-white rounded px-10 py-2 my-2" %>
          </div>
        </div>
      <% end %>
    </div>
      <div class="mt-10 mb-10">
    </div>
  <% else %>
    <p>結果が見つかりませんでした。</p>
  <% end %>
</div>
