  <% if @places_details.any? %>
    <% unique_places = @places_details.uniq { |place| place['name'] } %>
    <div>
      <h2>検索結果:</h2>
      <% @places_details.each do |place_detail| %>
        <% if place_detail['website'].present? || (place_detail['opening_hours'] && place_detail['opening_hours']['weekday_text'].present?) %>
          <div>
            <h3><%= place_detail['name'] %></h3>
            <p><%= place_detail['formatted_address'] %></p>

            <% if place_detail['opening_hours'] && place_detail['opening_hours']['weekday_text'] %>
              <p>本日の営業時間: <%= place_detail['opening_hours']['weekday_text'][Time.zone.today.wday.zero? ? 6 : Time.zone.today.wday - 1] %></p>
              <p>土曜の営業時間: <%= place_detail['opening_hours']['weekday_text'][5] %></p>
              <p>日曜の営業時間: <%= place_detail['opening_hours']['weekday_text'][6] %></p>
            <% else %>
              <p>営業時間の情報はありません。</p>
            <% end %>

            <p>所要時間: 約
              <% total_minutes = place_detail['travel_time_text'].to_i %>
              <% hours = total_minutes / 60 %>
              <% minutes = total_minutes % 60 %>
              <% if hours > 0 %>
                <%= hours %>時間
              <% end %>
                <%= minutes %>分
            </p>

            <p>ホームページ: <%= link_to place_detail['website'], place_detail['website'] %></p>
            <% if place_detail['photo_url'] %>
              <img src="<%= place_detail['photo_url'] %>" alt="<%= place_detail['name'] %>の写真">
            <% end %>
            <% travel_mode = session[:selected_transport] == '公共交通機関' ? 'transit' : 'driving' %>
            <%= link_to 'ここに行く', "https://www.google.com/maps/dir/?api=1&origin=current+location&destination=#{ERB::Util.url_encode(place_detail['name'])}&travelmode=#{travel_mode}", target: "_blank", class: "btn btn-primary" %><br><br>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>結果が見つかりませんでした。</p>
<% end %>
