<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <p class="text-center text-xl md:text-3xl lg:text-3xl xl:text-3xl font-bold text-lime-500 mt-4">過去の検索結果</p>
    <p class="text-center text-sm md:text-base lg:text-base xl:text-base font-bold text-sky-800 mt-6">検索の際に選択した所要時間より大幅に</p>
    <p class="text-center text-sm md:text-base lg:text-base xl:text-base font-bold text-sky-800 mt-2">時間がかかる場所は除いて表示しています</p>
    <p class="text-center text-sm md:text-base lg:text-base xl:text-base font-bold text-sky-800 mt-2">このページでは検索で除かれた場所も表示されます</p>

    <div class="text-center mt-8 text-sky-800 overflow-x-auto">
        <div class="inline-flex space-x-6">
        <%= form_with url: places_path, method: :get, class: "flex flex-nowrap justify-center items-center space-x-4 w-full", local: true do |f| %>
            <div class="flex flex-col mb-4 text-xs md:text-sm lg:text-lg xl:text-lg w-32 md:w-48">
            <%= f.label :address_cont, "都道府県", class: "mb-2" %>
            <%= f.select :address_cont, options_for_select(prefecture_options), { prompt: '選択してください' }, class: "p-2 md:p-3" %>
            </div>
            <div class="flex flex-col mb-4 text-xs md:text-sm lg:text-lg xl:text-lg w-32 md:w-48">
            <%= f.label :activity_type_eq, "活動タイプ", class: "mb-2" %>
            <%= f.select :activity_type_eq, options_for_select(@activity_type_options), { prompt: '選択してください' }, class: "p-2 md:p-3" %>
            </div>
            <div class="flex flex-col mb-4 text-xs md:text-sm lg:text-lg xl:text-lg w-32 md:w-48">
            <%= f.label :keyword, "フリーテキスト", class: "mb-2" %>
            <%= f.text_field :keyword, class: "p-2 md:p-3" %>
            </div>
            <div class="flex items-end mt-2 md:mt-5 pl-2 md:pl-4">
            <%= f.submit "検索", class: "bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring p-2 md:p-3 text-xs md:text-sm lg:text-lg xl:text-lg" %>
            </div>
        <% end %>
        </div>
    </div>

    <% if @places.any? %>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-12">
        <% @places.each do |place| %>
            <div class="shadow-xl rounded-lg bg-white p-4 mx-8 pt-4 border border-gray-200 mb-8">
                <div class="flex flex-col items-center justify-center w-full">
                <p class="text-center text-gl md:text-2xl lg:text-2xl xl:text-2xl my-1 text-sky-800"><%= place.name %></p>
                <p class="text-center text-sm md:text-base lg:text-base xl:text-base my-1 text-sky-800">住所: <%= place.address %></p>
                <p class="text-center text-sm md:text-base lg:text-base xl:text-base my-1 text-sky-800">
                    <% if place.website.present? %>
                    ホームページ: <%= link_to 'こちら', place.website, class: "text-blue-500 underline" %>
                    <% else %>
                    ホームページはありません
                    <% end %>
                </p>
                <div>
                    <%= render 'shared/favorite_button', place: place %>
                </div>
                <% if place.photo_url.present? %>
                    <img src="<%= place.photo_url %>" alt="<%= place.name %>の写真" class="mx-auto w-80 h-80 my-1">
                <% end %>
                <%= form_with url: place_place_histories_path(place_id: place.id), method: :post, local: true, html: { class: "new_tab_form" } do %>
                    <%= hidden_field_tag :destination, "https://www.google.com/maps/dir/?api=1&origin=current+location&destination=#{ERB::Util.url_encode(place.address)}" %>
                    <%= submit_tag 'ここに行く', class: "flex items-center justify-center px-2 md:px-12 py-1 md:py-3 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring mt-2" %>
                <% end %>
                </div>
            </div>
        <% end %>
        </div>
        <%= render 'shared/pagination', collection: @places %>
    <% else %>
        <p class="text-center text-xl md:text-2xl lg:text-2xl xl:text-2xl font-bold text-sky-800 mt-8">履歴はありません</p>
    <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const forms = document.querySelectorAll('.new_tab_form');
    forms.forEach(form => {
      form.addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(form);
        const destination = form.querySelector('input[name="destination"]').value;

        fetch(form.action, {
          method: 'POST',
          body: formData,
          headers: {
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          }
        })
        .then(response => response.json())
        .then(data => {
          window.open(destination, '_blank');
        })
        .catch(error => console.error('Error:', error));
      });
    });
  });
</script>
