<!DOCTYPE html>
<html>
  <head>
    <title>あそびばさがそ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css', media: 'all' %>
    <%= display_meta_tags(default_meta_tags) %>

    <script async
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>">
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DKT44Z3N4H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DKT44Z3N4H');
    </script>
  </head>

  <body class="flex flex-col min-h-screen bg-sky-50 font-mono text-sky-800">
    <% if user_signed_in?	 %>
        <%= render 'shared/header_logged_in' %>
      <% else %>
        <%= render 'shared/header_logged_out' %>
      <% end %>
    <%= render 'shared/flash_messages' %>
    <main class="flex-grow">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
